header{
    background-color: #08224c;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:#89d2df
}
/* header h1{
    text-align: center;
    letter-spacing: 1rem;
    font-size: 3rem;
    width:50vw;
} */
header ul{
    width:50vw;
    height: 10vh;
    display:flex;
    
    justify-content: center;
    align-items: center;
}
header ul li{
    width: 15vw;
    height: 10vh;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

li img{
    width: 40px;
    height: 40px;
}

.imgLogo{
    height: 90px;
    width: 90px;
    object-fit: contain;

    padding:10px;
}

header img{
    filter:invert(100%);
}

.linkLogout{
    display:none;
}
.nolog{
    display:none
}
.claroOscuro{
    font-family: 'Sigmar', cursive;
    font-size: 1rem;
    height: 50px;
    width: 50px;
    background-color: var(--secondaryColor);
    color:var(--primaryColor);
    border-radius: 50%;
    border:transparent;
}

@media screen and (width<1050px){
    header h1{
        display:none;
    }
}

@media screen and (width<650px){
    .imgLogo{
        display:none;
    }
    header ul{
        width: 70vw;
    }
    header ul a li p{
        font-size: 12px;
    }
}