:root{
    font-family: 'Sigmar', cursive;
    --primaryColor:#08224C;
    --secondaryColor: #89D2DF;
    --bkcolor: #fafafa;
    --bkcolorDark: #08224C;
    --primaryColorDark:#89D2DF;
    --secondaryColorDark:#08224C;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
main{
    min-height: 85vh;
    width:100vw;
    font-family: 'Ubuntu', sans-serif;
    color:var(--primaryColor);
    background-color: var(--bkcolor);
    background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
    /*background-color: #cccccc;
    background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");*/
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

p{
    font-size:18px;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color:var(--secondaryColor)
}

.darkMode{
    background-color: var(--bkcolorDark);
    color:var(--primaryColorDark);
    text-shadow: none;
}
.darkMode h1{
    color:var(--primaryColorDark);
    text-shadow: var(--secondaryColorDark) 10px 5px 3px;
}
.darkMode h2{
    color:var(--primaryColorDark);
    text-shadow: var(--secondaryColorDark) 10px 5px 3px;
}
.darkMode .galleryPokemon{
    color:var(--primaryColor)
}
.darkMode .galleryPokemon h2{
    color:var(--primaryColor)
}
main h1{
    font-size: 3rem;
    text-shadow: #89d2df 10px 5px 3px;
}
main h2{
    text-shadow: #89d2df 10px 5px 3px;
}

h1,h2{
    color:var(--primaryColor);
}